

<div class="footer">

  <div class="row">
    <div class="col-lg-4 footer-p">
      <h4 class=""> Phone Support </h4>
      <p> 24 hours </p>
      <p1> +61 405 326 790 </p1>
    </div>

    <div class="col-lg-4 footer-p">
      <h4 class=""> Follow Us </h4>
      <p> Social medial channel </p>
      <div class="social-icon">
        <a href="https://www.facebook.com/yonungbmud" target="_blank"> <i class="fa fa-facebook-square fa-3x  social-media"></i> </a>
        <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram fa-3x social-media"></i> </a>
        <a href="https://www.linkedin.com/feed/" target="_blank"> <i class="fa fa-twitter fa-3x social-media"></i> </a>
      </div>
    </div>


    <div class="col-lg-4 footer-p">
      <h4 class="">Our Newsletter</h4>
      <p> Sign up for details </p>
      <form class="" action="/ournewsletter" method="post">
        <input type="email" class="newsletterinputfooter" name="email" value="" placeholder="Email..." required> <input type="submit" class="btn btn-warning subscribe-btn" name="button" value="Subscribe">
      </form>

      <p class="copyright designer">
        &copy; Copyright Reserved to OurDaily Update <br>
        <span class="designer"> Designed With ❤️ by <a class="btn btn-sm" href="https://www.linkedin.com/in/liladhar-sapkota-6342b518a/"  target="_blank" > Liladhar </a> </span>
      </p>

    </div>


  </div>


</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
