
<title>Daily study resources update</title>
<meta charset="UTF-8">
<meta name="description" content="Free study resources for students and learners">
<meta name="keywords" content="HTML,CSS,XML,JavaScript, Database, project management, system analyst, cloud computing">
<meta name="author" content="Liladhar Sapkota">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/styles.css">

<div class="container-fluid">

  <div class="dashboardnav">
    <a href="/" class="companyname">Daily Update <br> </a>
    <hr>

    <a href="/admindashboard" > Dashboard</a>
    <div class="dropdown ">
      <a >Post⬇️</a>
      <div class="dropdown-content">
        <a href="/allpostsforadminonly" class="btn btn-sm posts-dropbtn"> All Posts</a>
        <a href="/admin/compose" class="btn btn-sm "> Create Post </a>
      </div>
    </div>

    <a href="/subscriber" > All Clients </a>


    <a href="/admin/allmessages" >Messages</a>


    <a href="/users/profile" >User Profile </a>
    <hr><br>

 <a class="red btn-sm btn-danger" href="/signout" role="button"> Log Out</a>



  </div>


  <!-- Page content -->
  <h3 class="dashboard-heading"> Admin Dashboard Overview  </h3>

  <div class="main">
