<%-include("partials/header"); -%>

<div class="container-fluid">

<div class="errorpage">
    <h5 class= "common-heading-md alcenter"> OOPS! Not Found!!</h5>
  <img src="/images/erroredited.jpg" alt="errorpage">



</div>



  <a href="/content" class="btn btn-warning"> Go Back</a>

</div>

<%-include("partials/footer"); -%>
