<%-include("partials/header"); -%>

<div class="container">

  <h5> OOPS! Resources Not found !!</h5>
  <marquee>
    Resources are uploading soon!!
  </marquee>

  <a href="/content" class="btn btn-warning"> Go Back</a>

</div>

<%-include("partials/footer"); -%>
