<%-include("partials/header"); -%>



<div class="row container-fluid">

  <div class="col-lg-6">
    <h2 class="common-heading-md">Our Mission </h2>

    <p class="common-para"> Our purpose is to help the learner about anything for free. We are building and joining the people who wants to share their knowledge for free and for those who really wants to learn and grow. </p>

    <p class="common-para"> If you are interested to join your knowledge and wants to share with others <a href="/register-form"> Join </a> Our team. </p>
  </div>




  

</div>




<%-include("partials/footer"); -%>
