

<%-include("partials/header"); -%>

  <div class="container-fluid-landing">
    <div class="company-message">
      <h2 class="main-heading"> <span class="study"> We Provide Study </span> <br> Resources for free </h2>
      <a href="/content" class="btn btn-primary btn-lg btn-studyresource"> Study Resources</a>

    </div>

    <div class="ournewsletter">
      <h3 class="common-heading"> For Daily Update</h3>
      <form class="" action="/subscriber" method="post">
        <input type="email" name="email" class="home-email-input" value="" placeholder="Subscribe to our newsletter for update..." required>
         <input type="submit" class="  subscribe-btn-home" name="button" value="Subscribe">
      </form>
    </div>

  </div>









<%-include("partials/footer"); -%>
