<%-include("partials/header"); -%>


<div class="container-fluid-home"> 
    
    <div class="error page nocontentfound">
      <p> <%=topic %></p>
  

      <h3> <%=allposts %></h3>
    </div>


    <a href="/content" class="btn btn-secondary btn-lg"> Go Back </a>
   







</div>
