<%-include("partials/header"); -%>

<div class="container-fluid-home">

  <div class="eachpost ">
    <h6 class="common-heading-md commonsize common-heading-forquestion"> Q.N:<%=posttitle%> </h6>
  <hr/>

    <p class="postans"> <%=postbody%>   </p>

  </div>
</div>


<div class="container-fluid-home">

  <a href="/allpostsinone" class="btn btn-lg btn-dark btn-warning"> Back to Content</a>

</div>






<%-include("partials/footer"); -%>
