<%-include("partials/header"); -%>


<div class="container-fluid-home"> 
    <% allposts.forEach(function(post){ %>
    <div class="question">
      <p> <%=post.topic %></p>
      <h3> <strong> Q.N:</strong> <%=post.posttitle%> </h3>
    </div>

    <div class="answer">
      <p> <%=post.postbody%> </p>
     </div>
    <% }) %>


    <a href="/content" class="btn btn-secondary btn-lg"> Go Back </a>
  </form>





</div>
