<%-include("dashboardpartials/dheader"); -%>

<h2 class="common-heading-sm"> Our ournewsletter Subscriber </h2>


<div class="emails">
  <% emails.forEach(function(email){ %>
  <div class="col-lg-4 eachemail">
    <table>
      <tr>
        <th> S:N. </th>
        <td class="customeremail"> <%=email.email %> </td>

      </tr>
    </table>

  </div>
  <% }) %>

</div>
