<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Thank you message</title>
</head>
<%-include("partials/header"); -%>




<div class="main" style="margin:4%; text-align:center;">
  <h2 class="common-heading-md"> Thank you for getting in touch with us.   </h2>
 <p class="common-para"> One of our member will get back to you as soon as possible</p>
</div>






<%-include("partials/footer"); -%>
